<tr>
    <td>{{ airportID }}</td>
    <td>{{ name }}</td>
    <td>{{ city }}</td>
    <td>{{ numFlights }}</td>
    <td>{{ numGates }}</td>
    <td><button type="button" onclick="delete_record('airports', '{{ airportID }}')">Delete</button>
</tr>