<tr>
    <td>{{employeeID}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>${{salary}}</td>
    <td>{{yearsExperience}}</td>
    <td>{{role}}</td>

    {{#if homebaseAirport}}
        <td>{{homebaseAirport}}</td>
    {{else}}
        <td>--NULL--</td>
    {{/if}}

    <td><button type="button" onclick="delete_record('crew', {{employeeID}})">Delete</button></td>
</tr>