<tr>
    <td>{{employeeID}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>${{salary}}</td>
    <td>{{yearsExperience}}</td>
    <td>{{role}}</td>
    <td>{{homebaseAirport}}</td>
</tr>