<tr>
    <td>{{flightID}}</td>
    <td>{{employeeID}}</td>
    <td>{{srcAirport}} -> {{destAirport}}</td>
    <td>{{firstName}} {{lastName}}</td>
    <td><button type="button" onclick="delete_crew_member({{flightID}},{{employeeID}})">Delete</button></td>
</tr>