<tr>
    <td>{{flightID}}</td>
    <td>{{numCrew}}</td>
    <td>{{numPassengers}}</td>
    <td>{{srcAirport}}</td>
    <td>{{destAirport}}</td>
    <td><button type="button" onclick="delete_record('flights', {{flightID}})">Delete</button></td>
</tr>