<tr>
    <td>{{flightID}}</td>
    <td>{{passengerID}}</td>
    <td>{{srcAirport}} -> {{destAirport}}</td>
    <td>{{firstName}} {{lastName}}</td>
    <td>{{seatNum}}</td>

    {{#if isFirstClass}}
        <td>True</td>
    {{else}}
        <td>False</td>
    {{/if}}

    {{#if isCheckedIn}}
        <td>True</td>
    {{else}}
        <td>False</td>
    {{/if}}

    <td><button type="button" onclick="delete_flightPassenger_record({{flightID}}, {{passengerID}})">Delete</button></td>
</tr>