<h1 style="width: 500px; margin-right: auto; margin-left: auto; text-align: center;">Airports</h1>

<div class='airportTable'>
    <table>
        <tr>
            <th>airportID</th>
            <th>Name</th>
            <th>City</th>
            <th>Number of Flights</th>
            <th>Number of Gates</th>
        </tr>

        {{#each airports_data}}
            {{> airport_record}}
        {{/each}}

    </table>
</div>

<section class='crud'>
    <div class='options'>
        <form class='create'>
            <h1>Add a Airport</h1>
            <div>
                <label for='name'>Enter the name of the airport:</label>
                <input name='name' id="add-airport-name"></input>
            </div>
            <div>
                <label for='city'>Enter the city the airport is located:</label>
                <input name='city' id="add-airport-city"></input>
            </div>
            <div>
                <label for='numOfFlights'>Add the number of flights it has:</label>
                <input name='numOfFlights' id="add-airport-numFlights"></input>
            </div>
            <div>
                <label for='numOfGates'>Add the number of gates it has:</label>
                <input name='numOfGates' id="add-airport-numGates"></input>
            </div>
            <button type="button" onclick="add_airport_record()">Add</button>
        </form>

        <form class='update'>
			<h1>Update an airport</h1>
			<div>
				<label for='pickAirport'>Pick an airport to modify</label>
				<select name='pickAirport' id="update-airport-id">

                    {{#each airports_data}}
                        <option value='{{airportID}}'>{{airportID}}: {{name}}</option>
                    {{/each}}

                </select>
            </div>
            <div>
                <label for="name">Update the name of the airport</label>
                <input name="name" id="update-airport-name"></input>
            </div>
            <div>
                <label for='city'>Update the city of the airport</label>
                <input name='city' id="update-airport-city"></input>
            </div>
            <div>
                <label for='numOfFlights'>Update the number of flights it has:</label>
                <input name='numOfFlights' id="update-airport-numFlights"></input>
            </div>
            <div>
                <label for='numOfGates'>Update the number of gates it has:</label>
                <input name='numOfGates' id="update-airport-numGates"></input>
            </div>

            <button type="button" onclick="update_airport_record()">Update</button>
        </form>

        <form class='delete'>
			<h1>Delete an Airport</h1>
			<div>
				<label for='pickAirport'>Pick an airport to delete from the list</label>
				<select name='pickAirport' id="delete-id">

                    {{#each airports_data}}
                        <option value='{{airportID}}'>{{airportID}}: {{name}}</option>
                    {{/each}}

                </select>
				<button type="button" onclick="delete_record('airports')">Delete</button>
			</div>
        </form>
    </div>
</section>