<h1 style="margin-left: 50vw; transform: translateX(-25%);">Flight Passengers</h1>

<table>
    <tr>
        <th>flightID</th>
        <th>passengerID</th>
        <th>Flight</th>
        <th>Passenger Name</th>
        <th>seatNum</th>
        <th>isFirstClass</th>
        <th>isCheckedIn</th>
        <th>Delete</th>
    </tr>

    {{#each flightPassengers_data}}
        {{> flightPassenger_record}}
    {{/each}}

</table>

<section class='crud'>
    <div class='options'>
        <form class='create'>
            <h1>Add a Flight Passenger</h1>
            <div>
                <label for='flightID'>Pick a flight</label>
                <select name='flightID' id="add-flightPassenger-flightID">
                    
                    {{#each flights_data}}
                        <option value="{{flightID}}">{{flightID}}: {{srcAirport}} -> {{destAirport}}</option>
                    {{/each}}

                </select>
            </div>
            <div>
                <label for='passengerID'>Pick which passenger you'd like to add to the flight</label>
                <select name='passengerID' id="add-flightPassenger-passengerID">
                    
                    {{#each passengers_data}}
                        <option value="{{passengerID}}">{{passengerID}}: {{firstName}} {{lastName}}</option>
                    {{/each}}

                </select>
            </div>
            <div>
                <label for='seatNum'>Enter their seat num</label>
                <input name="seatNum" id="add-flightPassenger-seatNum"></input>
            </div>
            <div>
                <label for='firstClass'>Are they first class?</label>
                <input name="firstClass" type="checkbox" id="add-flightPassenger-isFirstClass"></input>
            </div>
            <div>
                <label for='checkedIn'>Are they checked in?</label>
                <input name="checkedIn" type="checkbox" id="add-flightPassenger-isCheckedIn"></input>
            </div>
            <button type="button" onclick="add_flightPassenger_record()">Add</button>
        </form>

        <form class='update'>
            <h1>Update a Flight Passenger</h1>
            <div>
                <label for='pickFlightPassID'>Please pick which flight and passenger you'd like to update</label>
                <select name='pickFlightPassID' id="update-flightPassenger-flightID">
                    
                    {{#each distinct_fp_flights_data}}
                        <option value="{{flightID}}">{{flightID}}: {{srcAirport}} -> {{destAirport}}</option>
                    {{/each}}

                </select>
                <select name='pickFlightPassID' id="update-flightPassenger-passengerID">
                    
                    {{#each distinct_fp_passengers_data}}
                        <option value="{{passengerID}}">{{passengerID}}: {{firstName}} {{lastName}}</option>
                    {{/each}}

                </select>
            </div>
            <div>
                <label for='seatNum'>Change their seat num</label>
                <input name="seatNum" id="update-flightPassenger-seatNum"></input>
            </div>
            <div>
                <label for='firstClass'>Is first class?</label>
                <input name="firstClass" type="checkbox" id="update-flightPassenger-isFirstClass"></input>
            </div>
            <div>
                <label for='checkedIn'>Is checked in?</label>
                <input name="checkedIn" type="checkbox" id="update-flightPassenger-isCheckedIn"></input>
            </div>
            <button type="button" onclick="update_flightPassenger_record()">Update</button>
        </form>

        {{!-- <form class='delete'>
            <h1>Pick which flight and passenger you'd like to remove</h1>
            <div>
                <label for='deleteFlightPassenger'>Please pick which flight and passenger you'd like to remove</label>
                <select name='deleteFlightPassenger' id="delete-flightPassenger-flightID">
                    
                    {{#each distinct_fp_flights_data}}
                        <option value="{{flightID}}">{{flightID}}: {{srcAirport}} -> {{destAirport}}</option>
                    {{/each}}

                </select>
                <select name='pickFlightPassID' id="delete-flightPassenger-passengerID">
                    
                    {{#each distinct_fp_passengers_data}}
                        <option value="{{passengerID}}">{{passengerID}}: {{firstName}} {{lastName}}</option>
                    {{/each}}

                </select>
            </div>
            <button type="button" onclick="delete_flightPassenger_record()">Delete</button>
        </form> --}}
    </div>
</section>